* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Navbar */
#navbar {
  padding-top: 18px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7em;
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  color: #349158;
  font-size: 50px;
  font-weight: 1000;
  font-family: 'Roboto', sans-serif;
}

.menu-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  color: #f2ebeb;
}

.menu-list-item {
  margin-right: 12px;
  cursor: pointer;
}
.menu-list-item.active {
  font-weight: 900;
}
.menu-list-item:hover {
  color: #349158;
}
.sidebar {
  background-color: #141414;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.profile-container {
  color: #f2ebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
  cursor: pointer;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-right: 10px;
}
.search {
  color: #f2ebeb;
}
.search-glass {
  position: relative;
  top: 3px;
}
.login {
  padding-left: 10px;
}
.login:hover {
  color: #349158;
}

.toggle {
  border-radius: 30px;
  width: 40px;
  height: 20px;
  background-color: #f2ebeb;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding-right: 5px;
}

.toggles {
  color: goldenrod;
  width: 8px;
}

.toggle-ball {
  border-radius: 50%;
  width: 18.5px;
  height: 18.5px;
  background-color: black;
  position: absolute;
  right: 1px;
  transition: 0.5s ease all;
}

/* Sidebar */

.movies {
  color: #f2ebeb;
  margin-top: 140px;
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  width: 180px;
  height: 80%;
  background-color: rgb(97 97 97 / 20%);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: thick;
}

.movie {
  cursor: pointer;
}

.movie:hover {
  color: #349158;
}

.movie.active {
  font-weight: 900;
  font-size: 25px;
  padding-top: 20px;
}
/* Featured movies */
.container {
  background-color: #141414;
  min-height: 100vh;
  color: #f2ebeb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.featured-movies {
  margin-top: -20px;
  width: 100%;
  height: 62vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url(./images/scale.jpeg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  padding-top: 20px;
  z-index: 5;
}
.movie-logo {
  width: 400px;
  transform: translate(-60px, 0px);
}
.content-container {
  width: 80%;
  height: 50%;
  transform: translate(130px, 100px);
  padding-left: 100px;
}
.content {
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 2px;
  padding-top: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.featured-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #f2ebeb;
  background-color: #151515;
  color: #f2ebeb;
  border-radius: 6px;
  font-size: 15px;
}

.featured-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #151515;
  font-weight: 400;
}
/* movie lists slide */

.movie-list-container {
  padding-left: 200px;
  transform: translate(15px);
}

.most-popular {
  font-size: 40px;

  padding-bottom: 50px;
}
.wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 350px;
  transform: translateX(0px);
  transition: 1s all ease-in-out;
}

.movie-image {
  width: 210px;
  height: 270px;
  cursor: pointer;
  object-fit: cover;
  transition: 1.5s all ease-in-out;
  object-fit: cover;
}

.movie-list-item:hover .movie-image {
  width: 280px;
  opacity: 0.5;
}

.movie-title {
  margin-top: 20px;
  font-size: 15.8px;
  font-weight: 900;
}

.movie-time {
  background-color: rgb(97 97 97 / 50%);
  width: 100px;
  height: auto;
  position: absolute;
  top: 18%;
  margin-left: 40px;
  display: flex;
  gap: 8px;
  font-size: 18px;
  opacity: 0;
  transition: 0.8s all ease-in-out;
}
.movie-des {
  background-color: rgb(97 97 97 / 50%);
  width: 230px;
  height: auto;
  font-size: 15px;
  position: absolute;
  top: 28%;
  margin-left: 40px;
  opacity: 0;
  transition: 0.8s all ease-in-out;
}
.movie-genre-hover {
  width: auto;
  height: auto;
  font-size: 15px;
  position: absolute;
  top: 55%;
  margin-left: 40px;
  background-color: rgb(97 97 97 / 50%);
  opacity: 0;
  transition: 0.8s all ease-in-out;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  top: 65%;
  margin-left: 40px;
  opacity: 0;
  transition: 0.8s all ease-in-out;
}
.movie-button-hover {
  background-color: #444444;
  color: #f2ebeb;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  cursor: pointer;
  font-weight: bolder;
}

.movie-button-hover:hover {
  background-color: #808080;
}

.movie-list-item:hover .movie-time,
.movie-list-item:hover .movie-des,
.movie-list-item:hover .movie-genre-hover,
.movie-list-item:hover .button-container {
  opacity: 1;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 60px;
  right: 0px;
  transform: translate(-20px, 0px);
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

/* Bottom featured movies*/
.bottom-container {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  height: 80%;
  position: relative;
  padding-left: 1000px;
  margin-bottom: 200px;
}

.right {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url('./images/mulan.jpeg');
  width: 45%;
  height: 500px;
  transition: 2s ease-in-out;
  position: absolute;
  right: 0;
  transform: translateX(0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url(./images/Beauty-and-The-Beast-Facts-768x432.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 45%;
  height: 500px;
  transition: 2s ease-in-out;
  position: absolute;
  left: 0;
  transform: translateX(0);
  margin-left: 200px;
}

.bottom-content-left {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  z-index: 50;
  margin-left: -850px;
  padding-left: 100px;
  opacity: 0;
  transition: 1s ease-in-out;
}

.left-title,
.right-title {
  font-size: 50px;
}

.left-genre,
.right-genre {
  font-size: 20px;
}

.left-featured-desc {
  font-size: 18px;
  width: 500px;
}
.right-featured-desc {
  width: 550px;
  font-size: 18px;
}
.bottom-content-right {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 50;
  opacity: 0;
  transition: 1s ease-in-out;
  position: absolute;
  right: 0;
  padding-left: 10px;
}

/* Toggle */

.container.active {
  background-color: white;
}
.sidebar.active {
  background-color: white;
}
#navbar.active {
  background-color: white;
}
.menu-list.active {
  color: black;
}
.profile-container.active {
  color: black;
}
.search.active {
  color: black;
}
.movies.active {
  color: black;
}
.most-popular.active {
  color: black;
}
.movie-title.active {
  color: black;
}
.toggle.active {
  background-color: black;
}
.toggle-ball.active {
  background-color: white;

  transform: translateX(-18px);
}
.arrow.active {
  color: black;
}

.left.active {
  width: 52%;
  transform: translateX(2px);
  opacity: 0.5;
  z-index: 5;
}

.right.active {
  width: 52%;
  transform: translateX(-2px);
  opacity: 0.5;
}

.bottom-content-left.active {
  opacity: 1;
}

.bottom-content-right.active {
  opacity: 1;
}

@media only screen and (max-width: 940px) {
  .nav {
    display: none;
  }
}
/* @media only screen and (min-height: 600px), only screen and (min-width: 500px) {
  .movie-list-container {
    margin-top: 1800px;
  }
} */

@media only screen and (min-height: 600px) {
  .movie-list-container {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 900px) {
  .movie-list-container {
    margin-top: 280px;
  }
}

@media only screen and (min-width: 500px) {
  .movie-list-container {
    margin-top: 260px;
  }
}
